
h1 {
  margin: 0;
}

span {
  font-weight: bold;
}

.nav-bar {
  position: relative;
  top: 30px;
  right: 550px;
  width: 500px;
  height: 1px;
  background-color: #EEF2FF;
  border: none;
}

.body-home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  margin: 0;
}

.body-destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  margin: 0;
}

.header {
  width: 100%;
  height: 150px;

}

.planets {
  width: 100%;
  text-align: center;

}

.nav {
  position: absolute;
  display: block;
  background-color: #1A374D;
  width: 45%;
  height: 80px;
  right: 0;
  top: 40px;
}

.home {
  position: absolute;
  left: 100px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.destination {
  position: absolute;
  left: 200px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.crew {
  position: absolute;
  left: 330px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.technology {
  position: absolute;
  left: 420px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.pick-your-destination {
  font-family: sans-serif;
  color: #B1D0E0;
  padding-right: 200px;
}

.destination-01 {
  color: #787A91;
  padding-right: 20px;
}

.mars-heading {
  font-size: 120px;
  color: white;
  font-weight: normal;
  text-align: left;
}

.mars-description {
  color: #B1D0E0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.links {
  margin-right: 30px;
  color: #B1D0E0;
  text-decoration: inherit;
}

.mars-description-bar {
  margin-top: 60px;
  width: 100%;
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: white; /* Modern Browsers */
}

.mars-table-heading {
  color: #D3E0EA;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
  padding-top: 10px;
}

.mars-table-words {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 60px;
  text-align: left;
}

.mars-links {
  text-align: center;
  position: relative;
  top: 10px;
}

.table-column-description {
  line-height: 1.3;
  padding-left: 120px;
}

.mars-table {
  margin-left: 200px;
}

.mars-table-cells {
  padding-top: 30px;
}

/*
.home-heading {
  color: #B1D0E0;
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  color: white;
  font-size: 150px;
  font-weight: normal;
  margin: 0;
}



a {
  color: white;
  text-decoration: inherit;
}

h3 {
  text-align: center;
  margin-top: 120px;
  font-size: 30px;
  font-family: sans-serif;
}

.home-paragrpah {
  color: #B1D0E0;
  margin-top: 20px;
}

.info {
  position: absolute;
  bottom: 100px;
  left: 140px;
}

.explore {
  width: 20%;
  height: 270px;
  background-color: white;
  border-radius: 200%;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.destination-links {
  position: absolute;
  top: 280px;
  right: 200px;
}

.planets {
  display: block;
  height: 200px;
}
*/
