h1 {
  margin: 0;
}

span {
  font-weight: bold;
}

.nav-bar {
  height: 1px;
  background-color: #EEF2FF;
  border: none;
  position: relative;
  top: 30px;
  right: 620px;
}

.logo {
  margin-top: 50px;
  margin-left: 50px;
}

.body-home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  margin: 0;
}

.body-destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  margin: 0;
}

.body-crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
}

.header {
  width: 100%;
  height: 150px;
}

.planets {
  width: 100%;
  text-align: center;
}

.nav {
  position: absolute;
  display: block;
  background-color: #1A374D;
  width: 45%;
  height: 80px;
  right: 0;
  top: 40px;
}

.home {
  position: absolute;
  left: 100px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.destination {
  position: absolute;
  left: 200px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.crew {
  position: absolute;
  left: 330px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.technology {
  position: absolute;
  left: 420px;
  top: 30px;
  text-decoration: inherit;
  color: #F4F9F9
}

.pick-your-destination {
  font-family: sans-serif;
  color: #B1D0E0;
  padding-right: 200px;
}

.destination-01 {
  color: #787A91;
  padding-right: 20px;
}

.mars-heading {
  font-size: 120px;
  color: white;
  font-weight: normal;
  text-align: left;
}

.mars-description {
  color: #B1D0E0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.links {
  margin-right: 30px;
  color: #B1D0E0;
  text-decoration: inherit;
}

.mars-description-bar {
  margin-top: 60px;
  width: 100%;
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: white;
  /* Modern Browsers */
}

.mars-table-heading {
  color: #D3E0EA;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
  padding-top: 10px;
}

.mars-table-words {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 60px;
  text-align: left;
}

.mars-links {
  text-align: center;
  position: relative;
  top: 10px;
}

.mars-table {
  margin-left: 200px;
}

.mars-table-cells {
  padding-top: 30px;
}

.meet-your-crew {
  font-family: sans-serif;
  color: #B1D0E0;
  padding-right: 200px;
  padding-top: 30px;
  text-align: left;
  position: relative;
  right: 50px;
}

.crew-heading {
  font-size: 30px;
  text-align: left;
  color: #787A91;
  margin-bottom: 15px;
  padding-top: 50px;
}

.table-column-description {
  padding-left: 100px;
}

.crew-big-heading {
  font-size: 60px;
  color: white;
  font-weight: normal;
  text-align: left;
}

.crew-description {
  color: #B1D0E0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 120px;
}

.crew-table-cells {
  padding-left: 100px;
}

.crew-1-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: #787A91;
}

.crew-engineer-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
}

.crew-2-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: #787A91;
  position: relative;
  left: 45px;
  bottom: 14.5px;
}

.crew-commander-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
  position: relative;
  left: 45px;
  bottom: 14.5px;
}

.crew-pilot-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
  position: relative;
  left: 90px;
  bottom: 30px;
}

.crew-3-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: #787A91;
  position: relative;
  left: 90px;
  bottom: 30px;
}

.crew-4-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: #787A91;
  position: relative;
  left: 135px;
  bottom: 45px;
}

.crew-specialist-link {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
  position: relative;
  left: 135px;
  bottom: 45px;
}

.crew-1-link:hover {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
}

.crew-2-link:hover {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
}

.crew-3-link:hover {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
}

.crew-4-link:hover {
  border-radius: 100%;
  width: 3%;
  height: 15px;
  background-color: white;
  position: relative;
  left: 135px;
  bottom: 45px;
}

.anousheh-anchor {
  visibility: hidden;
}

.cell {
  position: relative;
  right: 50px;
}

.douglas-pic {
  position: relative;
  bottom: 80px;
}

.technology-heading{
  font-family: sans-serif;
  color: #B1D0E0;
  padding-left: 160px;
}

.technology-link-1 {
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
}

.technology-link-1:hover{
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
  background-color: white;
}

/* this will change the class tech-link-1 to
text-color-black when div element is hovered over */
.technology-link-1:hover .tech-link-1 {
  color: black;
}

.technology-link-2 {
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
  margin-top: 30px;
}

.technology-link-2:hover {
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
  margin-top: 30px;
  background-color: white;
}

.technology-link-2:hover .tech-link-2 {
  color: black;
}

.technology-link-3 {
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
  margin-top: 30px;
}

.technology-link-3:hover {
  border: solid #787A91 1px;
  width:25%;
  border-radius: 100%;
  height: 80px;
  margin-left: 155px;
  margin-top: 30px;
  background-color: white;
}

.technology-link-3:hover .tech-link-3 {
  color: black;
}

.tech-link-1 {
  position: relative;
  top: 22px;
  left: 32px;
  font-size: 30px;
  text-decoration: inherit;
  color: white;
}

.tech-link-2 {
  position: relative;
  top: 22px;
  left: 32px;
  font-size: 30px;
  text-decoration: inherit;
  color: white;
}

.tech-link-3 {
  position: relative;
  top: 22px;
  left: 32px;
  font-size: 30px;
  text-decoration: inherit;
  color: white;
}

.link-column {
  padding-top: 60px;
  width: 23%;
}

.tech-description {
  color: #B1D0E0;
  padding-top: 65px;

}

.tech-link-column {
  width: 41%;
}

.tech-heading-column {
  
  width: 20%;
}

.tech-body-description {
  color: #B1D0E0;
  padding-right: 60px;
  line-height: 1.4;
  font-size: 20px;
}

.launch-vehicle {

}
/*
.home-heading {
  color: #B1D0E0;
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  color: white;
  font-size: 150px;
  font-weight: normal;
  margin: 0;
}



a {
  color: white;
  text-decoration: inherit;
}

h3 {
  text-align: center;
  margin-top: 120px;
  font-size: 30px;
  font-family: sans-serif;
}

.home-paragrpah {
  color: #B1D0E0;
  margin-top: 20px;
}

.info {
  position: absolute;
  bottom: 100px;
  left: 140px;
}

.explore {
  width: 20%;
  height: 270px;
  background-color: white;
  border-radius: 200%;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.destination-links {
  position: absolute;
  top: 280px;
  right: 200px;
}

.planets {
  display: block;
  height: 200px;
}
*/
